body {
    background-color: blanchedalmond;
}

<<<<<<< HEAD

=======
<<<<<<< Updated upstream
>>>>>>> AngelFront
/*Nav Top*/

#navTop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    border-bottom: 4px solid rgb(255, 107, 0);
=======

>>>>>>> Stashed changes

#card{
    border-radius: 50px;
    background: #e0e0e0;    
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;  
}

.card{
    border-radius: 50px;
    background: #e0e0e0;    
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;  
}

.card:hover {
    box-shadow: 0 0 25px 0 	rgb(240, 173, 78);
    cursor: pointer;
}

#fieldset {
    all: unset;
}

<<<<<<< Updated upstream
#divProducts {
    border-left: 2px solid rgb(255, 107, 0);
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.pr {
    width: 30vh;
    height: 30vh;
    border: 1px solid black;
<<<<<<< HEAD
}

#imgBlob{
    width: 20vh;
    height: 20vh;
}

=======
<<<<<<< Updated upstream
=======
=======
#legend {
    all: unset;
}

#fieldset{ 
    display: block;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border: 1px solid rgb(240, 173, 78);
    padding: 20px;
    margin: 0 0 1.5em 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
>>>>>>> Stashed changes
}

#legend{
    color: rgb(240, 173, 78);
}

<<<<<<< Updated upstream
#card{
    border-radius: 50px;
    background: #e0e0e0;    
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;  
}

.card{
    border-radius: 50px;
    background: #e0e0e0;    
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;  
>>>>>>> Stashed changes
=======
.customRange3{
align-self: start;
>>>>>>> Stashed changes
}
>>>>>>> AngelFront
