body {
    background-color: blanchedalmond;
}


/*Nav Top*/

#navTop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    border-bottom: 4px solid rgb(255, 107, 0);

}

#titleApp {
    display: flex;
    flex-direction: row;
}






/*Horizontal bar*/
#general {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

#crypto {
    display: flex;
    flex-direction: column;
}

#cryptoContainer {
    display: flex;
    flex-direction: row;
}


/*PRODUCTS*/
#products {
    width: 100%;
    height: auto;
}

#divProducts {
    border-left: 2px solid rgb(255, 107, 0);
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.pr {
    width: 30vh;
    height: 30vh;
    border: 1px solid black;

}

#imgBlob{
    width: 20vh;
    height: 20vh;
}


#card{
    border-radius: 50px;
    background: #e0e0e0;    
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;  
}

.card{
    border-radius: 50px;
    background: #e0e0e0;    
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;  

}

