body {
    background-color: blanchedalmond;
}



#card{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.card{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.card:hover {
    box-shadow: 0 0 25px 0     rgb(240, 173, 78);
    cursor: pointer;
}

#fieldset {
    all: unset;
}

#legend {
    all: unset;
}

#fieldset{ 
    display: block;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border: 1px solid rgb(240, 173, 78);
    padding: 20px;
    margin: 0 0 1.5em 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#legend{
    color: rgb(240, 173, 78);
}

.customRange3{
align-self: start;
}