body{
    background-color: #FFF;
    height: 80%;
    
}
footer{
    height: 10%;
    margin-top: 100px;
}
header{
    
    height: 10%;
}

#myContainer{
    margin-top: 90px;
}

#input{
    border: none;
    margin-bottom: 20px;
    width: 323px;
    height: 50px;
    background: rgba(255, 183, 64, 0.6);
    border-radius: 10px;
}

#btnResetPwd{
    border: none;
    width: 320px;
    height: 50px;
    background: #FFB740;
    border-radius: 20px;
}

#titles{
    color: #FFB740;
    margin-bottom: 40px;
}