html{
    position: relative;
    background: #FFFFFF;
}

#divTitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    font-variant: small-caps;

    color: #FF6B00;

}

#inputUser{
    width: 324px;
    height: 50px;

    

    background: rgba(255, 121, 24, 0.6);
    border-radius: 10px;
}


#inputName{
    width: 324px;
    height: 50px;

    background: rgba(255, 121, 24, 0.6);
    border-radius: 10px;
}

#inputLastName{
    width: 324px;
    height: 50px;
    
    background: rgba(255, 121, 24, 0.6);
    border-radius: 10px;
}

#inputEmail{
    width: 323px;
    height: 50px;
   
    background: rgba(255, 121, 24, 0.6);
    border-radius: 10px;
}

#inputPassword{
    width: 323px;
    height: 50px;
   
    background: rgba(255, 121, 24, 0.6);
    border-radius: 10px;
}

#inputConfPwd{
    width: 323px;
    height: 50px;
   
    background: rgba(255, 121, 24, 0.6);
    border-radius: 10px;
}

#userTerms{
    width: 18px;
    height: 17px;
    background: #FF7918;
    border-radius: 5px;
}

#btnSignUp{
    position: absolute;
    width: 320px;
    height: 50px;
    background: #FF7918;
    border-radius: 20px;
}